<% if @movies %>
  <% if !@movies.blank? %>
  <div id="movies_slider" class="royalSlider videoGallery rsDefault">
  	<% @movies.entry.each do |movie| %>
			<div class="rsContent">
		    <a class="rsImg" data-rsVideo="<%= movie.group.player.url %>" href="<%= movie.group.thumbnail[2].url %>">
		      <div class="rsTmb">
		        <h5><%= movie.title %></h5>
		        <p><%= distance_of_time_in_words_to_now movie.published.to_datetime %></p>
		      </div>
		    </a>
		    <h3 class="rsABlock sampleBlock"><%= movie.group.description %></h3>
		  </div>
  	<% end -%>
   </div>
  <% end %>

  <%= stylesheet_link_tag    "slider" %>
  <%= javascript_include_tag "slider" %>

  <script>  
  jQuery(document).ready(function($) {
    $("#movies_slider").royalSlider({
      fullscreen: {
        enabled: true,
        nativeFS: true
      },
    	// controlNavigation: 'thumbnails',
      // captionShowEffects:["moveleft", "fade"],
    // });
	  // $('#video-gallery').royalSlider({
	    arrowsNav: false,
	    fadeinLoadedSlide: true,
	    controlNavigationSpacing: 0,
	    controlNavigation: 'thumbnails',

	    thumbs: {
	      autoCenter: false,
	      fitInViewport: true,
	      orientation: 'vertical',
	      spacing: 0
	    },
	    keyboardNavEnabled: true,
	    imageScaleMode: 'fill',
	    imageAlignCenter:true,
	    loop: false,
	    loopRewind: true,
	    numImagesToPreload: 3,
	    video: {
	      autoHideArrows:true,
	      autoHideControlNav:false,
	      autoHideBlocks: true
	    }, 
	    autoScaleSlider: true, 
	    autoScaleSliderWidth: 960,     
	    autoScaleSliderHeight: 450
	  });
  });
  </script>
  <style>
#video-gallery {
  width: 100%;
  color: #FFF;
}
.videoGallery .rsCloseVideoBtn {
  display: none;
} 
/* Styling thumbnails */
.videoGallery h5 {
  margin: 0;
}
.videoGallery p {
  color: #ddd;
  font-size: 13px;
}
.videoGallery .rsTmb {
  padding: 20px;
}

.videoGallery .rsThumbs .rsThumb {
  width: 220px;
  height: 80px;
  border-bottom: 1px solid #2E2E2E;
}
.videoGallery .rsThumbs.rsThumbsVer {
  width: 220px;
  padding: 0;
}
.videoGallery .rsThumb:hover {
  background: #000;
}
.videoGallery .rsThumb.rsNavSelected {
  background-color: #02874A;
  border-bottom: 1px solid #009E56;
}

.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  background: #202020;
}

.sampleBlock {
  left: 3%; 
  top: 1%; 
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .videoGallery .rsTmb {
    padding: 6px 8px;
  }
  .videoGallery h5 {
    font-size: 13px;
    line-height: 17px;
  }
  .videoGallery .rsThumbs.rsThumbsVer {
    width: 100px;
    padding: 0;
  }
  .videoGallery .rsThumbs .rsThumb {
    width: 100px;
    height: 47px;
  }
  .videoGallery .rsTmb p {
    display: none;
  }
  .videoGallery .rsOverflow,
  .royalSlider.videoGallery {
    height: 300px !important;
  }
  .sampleBlock {
    font-size: 14px;
  }
}
    </style>
  <!-- end imagens -->
<% else %>
	<div class="index_movies_container"></div>
	<script>
	$(document).ready(function() {
		// console.debug($.get('/movies'))
	  $('.index_movies_container').load('/movies');
	});
	</script>
<style>
.index_movies_container {
	min-height: 400px;
}
</style>
<% end -%>
