<% if @movies %>
  <% if !@movies.blank? %>
  <div id="movies_slider" class="royalSlider rsUni clearfix fwImage">
    <% @movies.entry.each do |movie| %>
      <div class="rsContent">
        <a class="rsImg" data-rsVideo="<%= movie.group.player.url %>" href="<%= movie.group.thumbnail[3].url %>">
          <img class="rsTmb" src="<%= movie.group.thumbnail[1].url %>" />
        </a>
        <div class="infoBlock infoBlockLeftBlack rsABlock">
          <h5><%= movie.title %></h5>
          <p><%= movie.group.description %></p>
        </div>
      </div>
    <% end -%>
   </div>
  <% end %>

  <script>
  jQuery(document).ready(function($) {
    var options = $.extend(true, {
      fullscreen: {
        enabled: true,
        nativeFS: true
      },

      arrowsNav: false,
      fadeinLoadedSlide: true,
      loop: true,
      loopRewind: true,
      // keyboardNavEnabled: true,

      imageScaleMode: 'fill',
      imageAlignCenter:true,
      numImagesToPreload: 3,

      /* Controle de navegação */
      controlNavigation: 'thumbnails',
      controlNavigationSpacing: 0,

      thumbs: {
        autoCenter: true,
        fitInViewport: true,
        orientation: 'horizontal',
        paddingBottom: 4,
        appendSpan: true
      },

      /* Vídeos */
      video: {
        autoHideArrows:true,
        autoHideControlNav:false,
        autoHideBlocks: true
      },

      autoScaleSlider: true,
      autoScaleSliderWidth: 960,
      autoScaleSliderHeight: 600,
    }, <%= params[:slider].to_json.html_safe %>);

    $("#movies_slider").royalSlider(options);
  });
  </script>
  <!-- end imagens -->
<% else %>
  <div class="index_movies_container"></div>
  <script>
  $(document).ready(function() {
    $('.index_movies_container').load('/movies',
      jQuery.param({ slider: <%= defined?(slider) ? slider.to_json.html_safe : "{}" %> }, false));
  });
  </script>
<style>
.index_movies_container {
  min-height: 400px;
}
</style>
<% end -%>
