<div class="index_movies_container">
	<div id="result"><!-- Imagens -->
    <% if !@product.uploads.blank? %>
    <div id="product_slider" class="royalSlider clearfix fwImage span6">
      <% for p in @product.uploads %>
      <a class="rsImg"
        data-rsBigImg="<%= p.upload %>"
        href="<%= p.upload(:medium) %>">
          <%= p.upload_file_name %>
          <img width="96" height="72" class="rsTmb" src="<%= p.upload(:thumb) %>" />
      </a>
      <% end %>
    </div>
    <% end %>

    <%= stylesheet_link_tag    "rdcms/slider" %>
    <%= javascript_include_tag "rdcms/slider" %>

    <script>  
    jQuery(document).ready(function($) {
      $("#product_slider").royalSlider({
      // $("#gallery-1").royalSlider({
        fullscreen: {
          enabled: true,
          nativeFS: true
        },
        controlNavigation: 'thumbnails',
        captionShowEffects:["moveleft", "fade"],
        // autoScaleSlider: true,
        // autoScaleSliderWidth: 960,
        // autoScaleSliderHeight: 850,
        // loop: false,
        // numImagesToPreload: 4,
        // arrowsNavAutohide: true,
        // arrowsNavHideOnTouch: true,
        // keyboardNavEnabled: true
      });
    });
    </script>
	</div><!-- end imagens -->
</div>
