<% @sliders = defined?(@sliders) ? @sliders : Slider.visible.ordained %>
<% if @sliders.blank? and defined?(admin) %>
<div class="blank_slate_container">
  <div class="blank_slate">
    <span><%= I18n.t("active_admin.blank_slate.content", resource_name: Slider.model_name.human) %></span>
    <small><%= link_to I18n.t('active_admin.new_model', model: Slider.model_name.human), new_admin_slider_path %></small>
  </div>
</div>
<% else %>
<ul id="home-slider" class="royalSlider rsMinW clearfix">
  <% @sliders.each do |slider| %>
    <li class="royalSlide rsContent" style="background-image:url('<%= slider.background.url(:slider) %>');">
      <div class="royalCaption bContainer" style="width:100%;">
        <div class="rsABlock" data-show-effect="fade movetop"  data-move-offset="15">
          <%= raw slider.body %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= javascript_include_tag "rdcms/sliders" %>
<%= stylesheet_link_tag "rdcms/sliders" %>

<script>
$(function() {
  <%
  # autoPlay
  auto_play_enabled         = Setting.for_key("rdcms.view.slider.auto_play.enabled")
  auto_play_stop_at_action  = Setting.for_key("rdcms.view.slider.auto_play.stop_at_action")
  auto_play_pause_on_hover  = Setting.for_key("rdcms.view.slider.auto_play.pause_on_hover")
  auto_play_delay           = Setting.for_key("rdcms.view.slider.auto_play.delay")
  # Others options
  start_slide_id            = Setting.for_key("rdcms.view.slider.start_slide_id")
  loop                      = Setting.for_key("rdcms.view.slider.loop"          )
  num_images_to_preload     = Setting.for_key("rdcms.view.slider.num_images_to_preload")
  transition_speed          = Setting.for_key("rdcms.view.slider.transition_speed")
  %>
  var defaultSlider = $("#home-slider").royalSlider({
    captionShowEffects:["moveleft", "fade"],
    arrowsNavAutoHide: false,
    autoPlay          : {
      <%= "enabled      : '#{auto_play_enabled}',".html_safe        if auto_play_enabled.present? %>
      <%= "stopAtAction : '#{auto_play_stop_at_action}',".html_safe if auto_play_stop_at_action.present? %>
      <%= "pauseOnHover : '#{auto_play_pause_on_hover}',".html_safe if auto_play_pause_on_hover.present? %>
      <%= "delay        : '#{auto_play_delay}',".html_safe          if auto_play_delay.present? %>
    },
    <%= "startSlideId       : '#{start_slide_id}',".html_safe         if start_slide_id.present? %>
    <%= "loop               : '#{loop}',".html_safe                   if loop.present? %>
    <%= "numImagesToPreload : '#{num_images_to_preload}',".html_safe  if num_images_to_preload.present? %>
    <%= "transitionSpeed    : '#{transition_speed}',".html_safe       if transition_speed.present? %>
  });
});
</script>
<% end %>
