<div class="social-container align-right" data-url="<%= page_url(@page) %>"></div>
<script type="text/javascript" charset="utf-8">
$('.social-container').social(<%= raw social_buttons_json %>);
</script>

<div class="panel page-list">
  <h2 class"title"><%= @page.name %></h2>

  <div class="breadcumbs-container clearfix">
    <%= link_to t(".back"), root_path, class: "back_link pull-right" %>
  </div>
  <hr class="page">

  <div id="description clearfix">
    <%= raw @page.content %>
  </div>
</div>
