<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : Setting.for_key("rdcms.site.name") %></title>
    <%= render partial: "/layouts/header_meta" %>
  </head>
  <body class="<%= params[:controller] %>">
    <!-- HEADER -->
    <%= render partial: "/layouts/header" %>
    <!-- END HEADER -->

    <!-- CONTENT -->
    <section id="no_container" class="container">
      <%= yield :no_container %>
    </section>
    <section id="main" class="container">
      <%= yield %>
    </section> <!-- /container -->
    <aside>
      <%#= index_of_posts %>
      <%#= index_of_posts(:wrapper=>:article) %>
    </aside>
    <section id="no_container" class="container footerappend">
      <%= yield :footerappend %>
    </section>
    <!-- END CONTENT-->

    <!-- FOOTER -->
    <%= render partial: "/layouts/footer" %>
    <!-- END FOOTER-->
  </body>
</html>
