<%= semantic_form_for [:admin, @product], :html => { :class => 'form-horizontal' } do |f| %>
  <%= errors_for @product %>

  <!-- Nome, Descrição -->
  <div class="control-group">
    <%= f.globalize_inputs :translations do |lf| %>
      <div class="control-group">
        <%= lf.label :name, t(".name"), :class => 'control-label' %>
        <div class="controls">
          <%= lf.text_field :name, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= lf.label :description, t(".description"), :class => 'control-label' %>
        <div class="controls">
          <%= lf.cktext_area :description, :class => 'text_area' %>
        </div>
      </div>
      <%= lf.hidden_field :locale %>
    <% end %>
  </div>
  
  <hr />
  
  <!-- Referência -->
  <div class="control-group">
    <%= f.label :reference, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reference, :class => 'text_field span4' %>
    </div>
    <em class="controls"><%= t(".reference_hint") %></em>
  </div>
  <!-- tags -->
  <div class="control-group">
    <%= f.label :tag_list, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field span4' %>
    </div>
    <em class="controls"><%= t(".separated_by_commas") %></em>
  </div>
  
  <hr />
  <!-- Preço -->
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls input-prepend">
      <span class="add-on">R$</span>
      <%= f.number_field :price, :class => 'number_field span2', alt: 'decimal' %>
    </div>
  </div>
  <!-- Peso -->
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls input-append">
      <%= f.number_field :weight, :class => 'number_field span2 weight' %>
      <span class="add-on" title="<%= I18n.t("kilograms") %>">kg</span>
    </div>
  </div>
  <!-- Comprimento -->
  <div class="control-group">
    <%= f.label :length, t(".length"), :class => 'control-label' %>
    <div class="controls input-prepend input-append">
      <%= f.text_field :length, :type => "number", :class => 'span2 decimal', alt: 'decimal' %>
      <span class="add-on" title="<%= I18n.t(:meters) %>">m</span>
    </div>
  </div>
  <!-- Largura -->
  <div class="control-group">
    <%= f.label :width, t(".width"), :class => 'control-label' %>
    <div class="controls input-prepend input-append">
      <%= f.text_field :width, :type => "number", :class => 'span2 decimal', alt: 'decimal' %>
      <span class="add-on" title="<%= I18n.t(:meters) %>">m</span>
    </div>
  </div>
  <!-- Altura -->
  <div class="control-group">
    <%= f.label :height, t(".height"), :class => 'control-label' %>
    <div class="controls input-prepend input-append">
      <%= f.text_field :height, :type => "number", :class => 'span2 decimal', alt: 'decimal' %>
      <span class="add-on" title="<%= I18n.t(:meters) %>">m</span>
    </div>
  </div>
  
  <hr />
  
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t(".cancel"), admin_products_path, :class => 'btn btn-link cancel' %>
  </div>
<% end %>
