<div class="panel">
  <h3><%= t "permalink" %>: <%= link_to product_path(s), product_path(s), target: "_blank" %></h3>
  <div class="panel_contents" id="details">
    <div class="attributes_table">
      <table class="table table-bordered">
        <tbody>
          <tr><th><%= t(".tag_list"   ) %></th><td><%= best_in_place s, :tag_list, type: :input, path: [:admin, s] %></td></tr>
          <tr><th><%= t(".price"    ) %></th><td><%= "#{number_to_currency s.price} kg" if s.price %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3><%= t('.weights_and_measures') %></h3>
  <div class="panel_contents" id="measures">
    <div class="attributes_table">
      <table class="table table-bordered">
        <tbody>
          <tr><th><%= t(".weight" ) %></th><td><%= "#{number_with_precision s.weight} kg" if s.weight %></td></tr>

          <tr><th><%= t(".length" ) %></th><td><%= "#{s.length || 0} m" %></td></tr>
          <tr><th><%= t(".width"  ) %></th><td><%= "#{s.width  || 0} m" %></td></tr>
          <tr><th><%= t(".height" ) %></th><td><%= "#{s.height || 0} m" %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3><%= t('.dates') %></h3>
  <div class="panel_contents" id="dates">
    <div class="attributes_table">
      <table class="table table-bordered">
        <tbody>
          <tr><th><%= t(".created_at" ) %></th><td><%= l s.created_at %></td></tr>
          <tr><th><%= t(".updated_at" ) %></th><td><%= l s.updated_at %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3><%= t "description" %></h3>
  <div class="panel_contents" id="description">
    <div class="attributes_table well">
      <%= raw s.description %>
    </div>
  </div>
  <h3><%= t "images" %></h3>
  <div class="panel_contents" id="images">
    <div class="attributes_table">
      <%= render :partial => 'admin/upload_selector', :locals => {
        options: {
          :form_for           => [:admin, @product],                     
          :show_type          => "image",                      
          :attribute_name     => "product[#{:upload_ids}][]", 
          :accept             => "image/*",                    
          :accept_file_types  => "/(\.|\/)(gif|jpe?g|png)$/i" }
        }
      %>
    </div>
  </div>
</div>
