<div class="social-container" data-url="<%= post_url(@post) %>">
  <a href="#" class="btn btn-mini btn-info window_print">
    <i class="icon-printer"></i>
    <%= I18n.t(".print") %>
  </a>
</div>
<script type="text/javascript" charset="utf-8">
$('.social-container').social(<%= raw social_buttons_json %>);
</script>

<div class="panel post-list">
  <h3><%= @post.name %></h3>
  <div class="details">
    <span class="post-data">- <%= time_ago_in_words @post.datetime %> (<%= l @post.datetime %>)</span>
    <span class="post-categories"><%= @post.tag_list %></span>
  </div>
  <div class="breadcumbs-container clearfix">
    <%= link_to t(".back"), posts_path, class: "back_link pull-right" %>
  </div>
  <div id="description">
    <div class="attributes_table well clearfix">
      <%= raw @post.body %>
    </div>
  </div>
  <% if @post.commentable and Setting.for_key("rdcms.disqus.active") %>
    <% shortname = Setting.for_key("rdcms.disqus.shortname")
      if shortname.present? %>
      <div id="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = '<%= shortname %>'; // Required - Replace example with your forum shortname
          var disqus_title = '<%= @post.name %>'; // a unique title for each page where Disqus is present;
          var disqus_identifier = '<%= post_url @post %>'; // a unique identifier for each page where Disqus is present;
          var disqus_url = '<%= post_url @post %>'; // a unique URL for each page where Disqus is present;
          <%= "var disqus_developer = 0;" if ENV['RACK_ENV'] == 'development' %>

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    <% end %>
  <% end %>
</div>
<script>
  $(".window_print").on("click", function(ev) {
    window.print();
  });
</script>
